header{
border: 5px solid silver;	
}
body{
	margin: 30px;
}
footer{
	border: 5px solid silver;
}
.col-2
{
	display: inline-block;
	padding : 0% 0% 0% 0%;
    width : 49%;
    heigth: 100%;
    float : left;
    margin-top: 5%;
}
#image
{
	float: right;
}