#titre {
	background-color:rgb(198, 248, 253);
	text-align: center;
	width: 100%;
}
#contenu {
	width : 100%;
	border-left: 7px solid black;
	height: 100%;
}
#entete
{
	text-align: center;
	border-top: 5px solid black;
	background-color: silver;
}
body{
	font-size: 20px;
	font-family: Georgia;
    margin:0; 
    padding:0;
}
#image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.col-2
{
	vertical-align: top;
	display: inline-block;
	padding : 0% 0% 0% 0%;
    width : 49%;
    height: 100%;
    margin : 0% 0% 0% 0%;
}
#text{
	margin-left: 10%;
}
header
{
	padding:25px 0px;
    background-color:#99A79A;
	text-align: center;
}
footer
{
	text-align: center;
	background-color: #59719A;
	border-top: 7px solid black;
	position: fixed;
	width: 100%;
	height: 100%;
}
#tchat
{
	height: 37em;
}